{% include 'user_commans/header.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DineX Cart</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <div class="container mx-auto p-6">
        <h2 class="text-2xl font-bold mb-4">Shopping Cart</h2>

        <div class="grid grid-cols-3 gap-6">
            <!-- Left: Product List -->
            <div class="col-span-2 bg-white p-4 shadow-md rounded-lg">
                <h3 class="text-xl font-semibold border-b pb-2 mb-4">Your Items</h3>
                
                <!-- Product 1 -->
            
                {% for cart_data in cart_items%}
                <div class="flex items-center justify-between border-b pb-4 mb-4">
                    <img src="{{cart_data.product.product_image.url}}" alt="Product Image" class="w-16 h-16 object-cover rounded">
                    <div class="flex-1 ml-4">
                        <p class="text-lg font-medium">{{cart_data.product.prod_name}}</p>
                        <p class="text-gray-600">{{cart_data.product.price}}</p>
                    </div>
                    <div class="flex items-center">
                        Quantity:
                        <span class="text-lg mx-2">{{cart_data.quantity}}</span>
                        <a href="#" class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 transition">Remove</a>
                    </div>
                </div>
                {% endfor %}
               

                
                
            </div>

            <!-- Right: Price Calculation -->
            <div class="bg-white p-4 shadow-md rounded-lg">
                <h3 class="text-xl font-semibold border-b pb-2 mb-4">Price Details</h3>
               {% for cart_data in cart_items%}
                <div class="flex justify-between mb-2">
                    <span>{{cart_data.product.prod_name}} (x{{cart_data.quantity}})</span>
                    <span>₹{{cart_data.product.price| floatformat:2 }} </span>  
                </div>
                {% endfor %}
                <hr class="my-2">
                <div class="flex justify-between font-bold text-lg">
                    <span>Total</span>
                    <span>₹ 1020 </span>
                </div>

                <button class="mt-4 w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700">Checkout</button>
            </div>
        </div>
    </div>

</body>
</html>




{% include 'user_commans/footer.html' %}